---
import Welcome from '../components/Welcome.astro';
import Side from '../components/side.astro';
import Layout from '../layouts/Layout.astro';
import Catalogo from '../components/catalogo.astro';
import Script from '../components/script.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
	<Side />
    <button class="sacaraside" id="sacaraside">
        <p>&lt;</p>
    </button>
	<div class="coso">
		<Welcome />
		<Catalogo/>
	</div>
</Layout>
<Script></Script>

<style>
	.coso{
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
	}
	.coso::-webkit-scrollbar {
	}
</style>
