---
---
<main class="ctlg">
    <section class="sc">
        <header>
            <p>Mi lista</p>
        </header>
        <main id="MiLista"> </main>
    </section>
    <section class="sc">
        <header>
            <p>Podria gustarte</p>
        </header>
        <main id="PodriaGustarte"> </main>
    </section>
    <section class="sc">
        <header>
            <p>Mas populares</p>
        </header>
        <main id="MasPopulares"></main>
    </section>
    <section class="sc">
        <header>
            <p>Clasicos</p>
        </header>
        <main id="Clasicos"></main>
    </section>
    <section class="sc">
        <header>
            <p>Lo mas nuevo</p>
        </header>
        <main id="LoMasNuevo"></main>
    </section>
</main>
<style>
.ctlg{
    background-color: var(--catalogo);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sc{
    flex-shrink: 0;
    width: 90%;
    height: 23vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.sc header{
    width: 100%;
    height: 15%;
    margin-bottom: 2%;
}
.sc header p{
    font-size: 15px;
    margin: 0;
    margin-left: 1%;
}
.sc main{
    width: 99%;
    flex: 1;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}
.sc main::-webkit-scrollbar, .ctlg main::-webkit-scrollbar {
    display: none;
}

</style>
<style is:global>
.plcl{
    height: 100%;
    aspect-ratio: 3/2;
    margin-left: 2%;
    margin-right: 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.plcl img{
    height: 70%;
    aspect-ratio: 6/4;
    overflow: hidden;
}
.plcl p{
    font-size: 15px;
    margin: 0;
}
.ml{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 90px;
}
.ml button{
    height: 50%;
    width: 100%;
    color: black;
}
</style>