---
---
<main class="ctlg">
    <section class="sc" id="sc">
        <header>
            <p>Mi lista</p>
        </header>
        <main id="MiLista"> </main>
    </section>
    <section class="sc" id="sc">
        <header>
            <p>Para toda la familia</p>
        </header>
        <main id="ParaTodaLaFamilia"> </main>
    </section>
    <section class="sc" id="sc">
        <header>
            <p>Mas populares</p>
        </header>
        <main id="MasPopulares"></main>
    </section>
    <section class="sc" id="sc">
        <header>
            <p>Clasicos</p>
        </header>
        <main id="Clasicos"></main>
    </section>
</main>
<style>
p{
    color: var(--txt-color);
    font-family: var(--fuente);
}
*{
    border-color: var(--borde);
}
.ctlg{
    flex: 1;
    background-color: var(--catalogo);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sc{
    width: 90%;
    height: 23%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sc header{
    width: 100%;
    height: 15%;
    margin-bottom: 2%;
}
.sc header p{
    font-size: 15px;
    margin: 0;
    margin-left: 1%;
}
.sc main{
    width: 99%;
    height: 85%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}
.sc main::-webkit-scrollbar {
    display: none;
}

</style>
<style is:global>
.plcl{
    width: 13%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
    }
.plcl img{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.plcl p{
    font-size: 10px;
    margin: 0;
    color: var(--txt-color);
}
.ml{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 90px;
}
.ml button{
    height: 50%;
    width: 100%;
    color: black;
}
</style>