<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--side: #e0e0e0;
		--txt-color: black;
		--catalogo: rgb(200, 200, 200);
		--fuente: 'Roboto', sans-serif;
		--borde : #ccccccc;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
        border-color: var(--borde);
	}    p{
        color: var(--txt-color);
        font-family: var(--fuente);
    }
	    .sacaraside{
        position: absolute;
        width: 4%;
        aspect-ratio: 7/9;
        top: 6px;
        left: 0%;
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-left-style: none;
    }
    .sacaraside p{
        font-size: 30px;
        color: var(--txt-color);
        font-family: var(--fuente);
        font-style: bold;
        margin: 0;
    }
</style>
